body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body > * {
    padding: 16px 128px;
}

header,
footer {
    background-color: #1f2937;
    display: flex;
    padding: 16px 128px;
    height: 36px;
}

.body {
    display: flex;
    flex-direction: column;
}

nav,
footer {
    font-size: 18px;
}

header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

footer {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
}

footer p {
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

#brahms {
    position: relative;
    left: -4px;
}

span#two {
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.main-info {
    background-color: #1f2937;
    display: flex;
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
}

.main-info img {
    height: 400px;
    width: 300px;
    flex-shrink: 1;
    border-radius: 50%;
}

.heading {
    flex-shrink: 3;
}

.heading h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.heading p:last-of-type {
    font-style: italic;
}

button {
    border: 2px solid #1f2937;
    background-color: #3882f6;
    border-radius: 6px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 16px;
    height: 50px;
}
.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.action {
    padding: 64px 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action div {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 24px 80px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.action button {
    border-color: #e5e7eb;
}

.action span {
    font-weight: 700;
}

.info {
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    color: #1f2937;
}

.compositions {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre img {
    border: 2px solid #3882f6;
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
