body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body > * {
    padding: 16px 64px;
}

header,
footer {
    background-color: #1f2937;
    display: flex;
    padding: 16px 64px;
    height: 36px;
}

.body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
}

.body div {
    height: 25%;
    flex: 1 1 auto;
}

nav,
footer {
    font-size: 18px;
}

header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

footer {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
}

footer p {
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

#brahms {
    position: relative;
    left: -4px;
}

span#two {
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.main-info {
    background-color: #1f2937;
    display: flex;
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
}

.main-info img {
    height: 400px;
    width: 300px;
    flex-shrink: 1;
    border-radius: 50%;
}

.heading {
    flex-shrink: 3;
}

.heading h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.heading button {
    background-color: #3882f6;
    border-radius: 6px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 16px;
}
.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.action div {
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 0px 64px;
}
